.error{
    background-color: crimson;
    width: 350px;
    height: 50px;
    box-shadow: 0 0 12px red;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    margin-bottom: -35px;
     
}